{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h5 class="text-center text-success pag-titulo">Compras</h5>
  <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#crearCompraModal">
      Crear compra
  </button>
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>Fecha</th>
              <th>Proveedor</th>
              <th>Total</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for compra in compras %}
          <tr>
              <td>{{ compra[1] }}</td>
              <td>{{ compra[2] }}</td>
              <td>C${{ '%.2f'|format(compra[3]) }}</td>
              <td>
                  <a href="{{ url_for('detalles_compras', id_compra=compra[0]) }}" class="btn btn-info">Ver detalles</a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}

<!-- Modal para crear compra -->
 {% block modals %}
 <div class="modal fade modal-dialog-centered" style="overflow-y: hidden;" id="crearCompraModal" tabindex="-1" aria-labelledby="crearCompraLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 33.5vh auto !important;">
      <div class="modal-content">
        <form method="POST" action="{{ url_for('confirmar_crear_compra') }}">
          <div class="modal-header">
            <h5 class="modal-title" id="crearCompraLabel">Iniciar nueva compra</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>

          <div class="modal-body">
            <p>¿Quieres iniciar un nuevo carrito de compra?</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Iniciar carrito</button>
          </div>
          
        </form>
      </div>
    </div>
 </div>
  
{% endblock %}
